<launch>
  <!-- Arguments参数 -->
  <arg name="car_mode"  default="" />
  <arg name="if_voice" default="false"/>
  <!-- 用于robot_state_publisher节点-->
  <node pkg="tf" type="static_transform_publisher" name="base_to_link" args="0 0 0 0 0 0 base_footprint base_link 100" />

  
  <!--差速系列 -->
  <!-- car_mode and tf  mini_tank-->
  <group if="$(eval car_mode == 'mini_tank')">
      <!-- 用于雷达节点，后面同理不再赘述-->
      <!-- 用于摄像头相关节点，如3d建图导航，后面同理不再赘述-->
	  
	  <!--坦克TR500系列 -->
      <node pkg="tf" type="static_transform_publisher" name="base_to_imu" args="0.21 0 0 0 0 0 base_footprint imu_link 100" />
      <node pkg="tf" type="static_transform_publisher" name="base_to_laser" args="0.225 0 0.38 0 0 0 base_footprint laser_link 100" />
      <node pkg="tf" type="static_transform_publisher" name="base_to_camera" args="0.280 0 0.32 0 0 0 base_footprint camera_link 100" />
	
  </group>
  
  <!-- URDF 标准化机器人描述格式 -->
  
  <!--差速系列 -->
  <group if="$(eval car_mode == 'mini_tank')">
      <param name = "robot_description" textfile = "$(find turn_on_dlrobot_robot)/urdf/mini_4wd_robot.urdf"/> 
  </group>
 
  <!-- 订阅话题：/robot_state_publisher，发布小车TF信息-->
  <node  pkg="robot_state_publisher" name="robot_state_publisher" type="robot_state_publisher" />

 </launch>

